# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    
    *  Jupyter Notebook
    *  Git and Github
    *  R and R studio

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. matplotlib
3. ggplot

| Data Science Tools |
|:-------------------|
|  Hadoop            |
|  Pandas            |
|  Spark             |

### Below are a few examples of evaluating arithmetic expressions in Python

1. 2+3
2. 5-4
3. 5*8
4. 4/10

In [1]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author

Andrew